*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

/* main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    background-color: crimson;
} */

main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px; */
    /* grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center; */
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    align-content: space-around;
}

.elem{
    border: 2px solid black;
    background-color: crimson;
    /* height: 100px; */
    /* width: 100px; */
    height: 200px;
    width: 200px;
}

#webs{
    height: 100%;
    width: 100%;
    background-color: wheat;
}

nav{
    height: 5em;
    width: 100%;
    background-color: wheat;
    display: grid;
    grid-template-columns: 45% 11% 11% 11% 11% 11%;
    grid-template-rows: 100px;
    /* justify-content: center; */
    /* align-content: center; */
    padding: 0 2vw;
    justify-items: center;
    align-items: center;
}

nav h1{
    justify-self: start;
    /* background-color: red; */
}
