*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 253, 253);
}

nav{
    width: 100%;
    /* height: 4em; */
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: 6em 6em 6em 2em;
    grid-template-rows: 4em;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    /* gap: 1em; */
    gap: 2em;
    padding: 0 5.7em;
    /* padding: 0 3em; */
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* background-color: red; */
    /* justify-items: center; */
    /* align-content: center; */
    /* padding: 1em 1em; */
    font-size: 1.2em;
    font-weight: 500;
}

nav i{
    padding: 0.6em 0.6em;
    /* background-color: lightgreen; */
    color: rgb(253, 251, 251);
    font-size: 1.2em;
    background-color: black;
    border-radius: 50%;
    font-weight: 500;
}

#center{
    height: 20em;
    /* width: 100%; */
    /* background-color: red; */
    padding: 3em 5em;
}

#center h1{
    /* font-size: 4.4em; */
    font-size: 4.9em;
    font-weight: 500;
    line-height: 1.1em;
}

#center-in{
    height: 12em;
    /* background-color: rebeccapurple; */
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
}

#right{
    width: 20%;
}

.elem{
    /* background-color: yellow; */
    margin: 0.5em;
    padding: 0.6em 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i{
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    /* font-size: 1.2em; */
}

/* .elem:hover{ */
    /* text-decoration: underline; */
/* } */

.elem:hover i{
    opacity: 1;
    transition: all 0.6s ease-in-out;
    /* text-decoration: none; */
    /* background-color: antiquewhite; */
    /* text-decoration: underline; */
}

#bottom{
    height: 40em;
    background-color: lightcoral;
    margin-top: 12em;
    background-image: url(./Serene\ Highland\ Solace.png);
    background-size: cover;
    background-position: 0 48%;
}

@media (max-width:600px) {
 
    nav{
        width: 100%;
        /* height: 4em; */
        /* background-color: lightblue; */
        display: grid;
        /* grid-template-columns: 6em 6em 6em 2em; */
        grid-template-columns: 1.2em 1.2em 1.2em 1.2em;
        grid-template-rows: 4em;
        align-items: center;
        justify-items: center;
        justify-content: flex-end;
        gap: 3.5em;
        /* gap: 2.8em; */
        /* padding: 0 5.7em; */
        padding: 0 2em;
    } 
    
    nav a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        /* background-color: red; */
        /* justify-items: center; */
        /* align-content: center; */
        /* padding: 1em 1em; */
        /* font-size: 1.2em; */
        font-size: 1em;
        font-weight: 500;
        /* display: none; */
    }

    nav i{
        padding: 0.5em 0.5em;
        /* background-color: lightgreen; */
        color: rgb(253, 251, 251);
        font-size: 1em;
        background-color: black;
        border-radius: 50%;
        font-weight: 500;
    }    


    #center{
        height: 10em;
        /* height: 15em; */
        /* height: 20em; */
        /* width: 100%; */
        /* background-color: red; */
        /* padding: 3em 5em; */
        /* padding: 1em 1.5em; */
        /* padding: 1em 1.4em; */
        padding: 1em 1.1em;
    }

    #center h1{
        /* font-size: 4.4em; */
        /* font-size: 4.9em; */
        font-size: 2.3em;
        font-weight: 500;
        line-height: 1.2em;
    }

    #center-in{
        height: 12em;
        /* background-color: rebeccapurple; */
        margin-top: 1.4em;
        /* margin-top: 2.5em; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.5em;
    }

    #center-in p{
        font-size: 1em;
        /* font-size: 1.25em; */
        font-weight: 600;
        line-height: 1.2em;
        width: 90%;
        /* gap: 2em; */
        /* text-align: left; */
    }

    #right{
        width: 100%;
        /* width: 20%; */
    }

    .elem{
        /* background-color: yellow; */
        margin: 0.5em;
        padding: 0.6em 0;
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .elem i{
        font-size: 1em;
        font-weight: 500;
        opacity: 0;
    }

    .elem a{
        color: black;
        text-decoration: none;
        font-weight: 600;
        /* font-size: 1.1em; */
        font-size: 1em;
    }

/* .elem:hover{ */
    /* text-decoration: underline; */
/* } */

    .elem:hover i{
        opacity: 1;
        transition: all 0.6s ease-in-out;
    /* text-decoration: none; */
    /* background-color: antiquewhite; */
    /* text-decoration: underline; */
    }  


    #bottom{
        height: 20em;
        background-color: lightcoral;
        margin-top: 20em;
        background-image: url(./Serene\ Highland\ Solace.png);
        background-size: cover;
        background-position: 0 55%;
    }




}