#cali{
    margin: 1em;
    padding: 3em;
    border-radius: 2vw;
    /* width: 5em; */
    /* height: 2em; */
    background-color: yellow;
    /* background-color: linear-gradient(to right, orangered, orange, yellow); */
}

.makeitfontss{
    font-weight: bold;
    font-size: 5em;
    font-family: 'Avantica';
    color: linear-gradient(to left, white, grey);
}

.makeitfine{
    height: 14em;
    width: 14em;
    background-size: cover;
    background-position: center;
}