*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 5em;
    padding-top: 3em;
}

#left{
    width: 48%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left h1{
    font-size: 6.6em;
    font-weight: 500;
    font-family: work sans;
    line-height: 90px;
}

#bottom-left{
    height: 40%;
    width: 100%;
    background-color: yellow;
}

#colors{
    background-color: orange;
    width: fit-content;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4em;
}

#color1{
    height: 1.5em;
    width: 1.5em;
    background-color: blue;
    border-radius: 50%;
}

#color2{
    height: 1.5em;
    width: 1.5em;
    background-color: beige;
    border-radius: 50%;
}

#right{
    width: 48%;
    height: 100%;
    background-color: blue;
}